@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
.intro {
  width: 600px;
  height: 364px;
}
.coverpic {
  width: 584px;
  height: 560px;
}
.picture {
  width: 400px;
  height: 480px;
  background-position: center;
  background-size: cover;
}
.exp {
  width: 896px;
}
.work {
  width: 1152px;
  height: 480px;
}
